@{
    ViewData["Title"] = "Home Page";
}
<section class="home">

    <div class="content">
        <h3>Welcome to BK Restaurant</h3>
        <p>Khách hàng là thượng đế</p>
    </div>

    <div class="image">
        <img src="/images/new-home-img.jpg" alt="">
    </div>
</section>